<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>837964401557-hrrsb2begdnv9pr9ogt5ip9ubqab4mqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837964401557-hrrsb2begdnv9pr9ogt5ip9ubqab4mqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDiXv3E7DK-WKCWA7ew4scU2B5p3nIEN78</string>
	<key>GCM_SENDER_ID</key>
	<string>837964401557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passs34.FeedApp</string>
	<key>PROJECT_ID</key>
	<string>feedapp-e9410</string>
	<key>STORAGE_BUCKET</key>
	<string>feedapp-e9410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837964401557:ios:80f0c0f186beffab</string>
	<key>DATABASE_URL</key>
	<string>https://feedapp-e9410.firebaseio.com</string>
</dict>
</plist>